@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
.body-login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(/Assets/fondoDos.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(3, 6, 71, 0.7);
}
form .title {
  color: #252525;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
}
form label {
  margin-bottom: 35px;
}
form label .ri-user-line,
form label .ri-lock-line {
  font-size: 20px;
  color: #1d4ed8;
  margin-right: 10px;
}
form label input {
  outline: none;
  border: none;
  color: #252525;
  border-bottom: solid 1px #2563eb;
  padding: 0 5px;
  font-size: 18px;
}
form label input::placeholder {
  color: rgba(37, 37, 37, 0.5);
}
form .link {
  color: #252525;
  margin-bottom: 15px;
}
form #button {
  padding: 1rem;
  color: #fff;
  background-color: #1d4ed8;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
form #button:hover {
  background-color: #2563eb;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: #27272a;
}

.btn {
  background-color: #1d4ed8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: #1e40af;
}

nav {
  width: 90%;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
nav .nav--links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
}
nav .nav--links .link--per a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}
nav .nav--links .link--per a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #b30c0c;
  transition: all 0.3s ease;
}
nav .nav--links .link--per a:hover::after {
  width: 70%;
}
nav .buy-per {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  color: #1d4ed8;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

#cardContainer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.card {
  width: 250px;
  height: 275px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(110, 2, 2, 0.489);
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card h2 {
  font-size: 1rem;
}
.card img {
  width: 150px;
}
.card button {
  background-color: #1d4ed8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}
.card button:hover {
  background-color: #1e40af;
}

#addProduct {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#addProduct label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
#addProduct input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
#addProduct button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#addProduct button:hover {
  background-color: #45A049;
}

#cart {
  max-width: 300px;
  z-index: 1000;
}

#cartItem {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-container {
  position: fixed;
  top: 70px;
  right: 0;
  background-color: white;
  padding: 20px;
  display: none;
}

#checkoutButton {
  width: 100%;
  background-color: #1d4ed8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#checkoutButton:hover {
  background-color: #1e40af;
}

#btn-cerrar {
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

#fondo {
  width: 100%;
  height: 100vh;
  background-image: url(../Assets/fondo.jpeg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.main-dashboard {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.main-carrito {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  height: 75vh;
}

.title-articulos {
  color: black;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.container-c {
  margin-top: 20px;
  position: relative;
}

.container-table {
  width: 100%;
  border-collapse: collapse;
}

.container-table th {
  padding: 10px;
  text-align: center;
}

#im,
#ar,
#ca,
#imp,
#bo {
  font-weight: bold;
}

#im {
  width: 80px;
}

#ar {
  width: 500px;
}

#ca {
  width: 100px;
}

#imp {
  width: 180px;
}

#bo {
  width: 80px;
}

.texto th {
  opacity: 0.4;
}

.texto th:first-child {
  grid-column: span 5;
}

.botones-c {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.botones-c a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}
.botones-c .btn2 {
  background-color: #28a745;
  border: 1px solid #28a745;
}
.botones-c .btn2:hover {
  background-color: #059226;
}

.imagen-carrito {
  width: 50px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  transition: height 0.5s ease;
}

.modal-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
