h1{
    text-align: center;
    margin-top: 2rem;
    color:  #1d4ed8;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.cardContainer{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}


