h1{
    text-align: center;
    margin-top: 2rem;
    color:  #1d4ed8;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.cardContainer{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
.cerrar{
    position: absolute;
    right: 0;
}
main {
    min-height: 80vh;
    width: 70%;
    margin: 0 auto;
}
.ri-sort-number-asc{
    width: 60px;
    height: 60px;
}
.card-per {
    width: 350px;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    h2 {
        font-size: 1.2rem;
        color: #333;
        font-weight: 600;
        margin-bottom: 10px;
    }

    img {
        width: 150px;
    }
    #slrTwo{
        margin-top: 10px;
    }
    
    #slrOne,
    #slrLtd{
        margin-top: 53px;
    }
    #caliber{
        margin-top: 60px;
    }
    #epic{
        margin-top: 70px;
    }


    p {
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 60px;
    }
    .card-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
    }

    .btn-container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        
        
    }

    .btnAddCart {
        margin-top: auto;
    }
}
.ordenadores{
    display: inline-block;
}
.personal{
    text-align: right;
}
.cartPer{
    width: 750px;
}