h1{
    text-align: center;
    margin-top: 2rem;
    color:  #1d4ed8;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.cardContainer{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
.cerrar{
    position: absolute;
    right: 0;
}
main {
    min-height: 80vh;
    width: 70%;
    margin: 0 auto;
}
.ri-sort-number-asc{
    width: 60px;
    height: 60px;
}

